<!DOCTYPE html>
<html xmlns:th="http://www.w3.org/1999/xhtml"
      xmlns:sec="https://www.thymeleaf.org/thymeleaf-extras-springsecurity5">
<html lang="en">
<head>
  <meta charset="UTF-8">
  <title>Title</title>
  <link rel="stylesheet" type="text/css" media="all"
        href="../static/css/car-info2.css" th:href="@{/css/car-info2.css}"/>
  <link
          href="http://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.3.0/css/font-awesome.css"
          rel="stylesheet"  type='text/css'>
</head>

<body>
<h1>Car List </h1>
<br>
<br>
<br>
<table cellspacing="0" cellpadding="0" class="user-table">
  <tr id="user-table-top">
    <th>
      <h3>name</h3>
    </th>
    <th>
      <h3>model</h3>
    </th>
    <th>
      <h3>Year</h3>
    </th>
    <th>
      <h3>Registration Number</h3>
    </th>
    <th>
      <h3>Edit Car</h3>
    </th>
    <th>
      <h3>Delete Car</h3>
    </th>
  </tr>
  <tr th:each="car : ${carList}">
    <th>
      <h5 th:text="${car.name}"></h5>
    </th>
    <th>
      <h5 th:text="${car.model}" ></h5>
    </th>
    <th>
      <h5 th:text="${car.year}"></h5>
    </th>
    <th>
      <h5 th:text="${car.regNumber}" ></h5>
    </th>
    <th><a> <i class="fa fa-edit"></i></a></th>
    <th><a> <i class="fa fa-user-times"></i></a>
    </th>
  </tr>
</table>
</body>
</html>