<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml" xmlns:th="http://www.thymeleaf.org">
<head>
  <meta charset="utf-8" />
  <title>Create New Customer</title>
  <link rel="stylesheet" type="text/css" media="all"
        href="../static/css/car-view.css" th:href="@{/css/car-view.css}"/>
</head>
<body>
<header th:replace="header :: myHeader"></header>
<div class="productlist">
  <div class="product" th:each="car : ${cars}">
    <h2><a th:href="@{/car/{id}(id=${car.carId})}" th:text="${car.name + ' ' + car.model}">Honda Accord</a></h2>
    <div class="image">
      <img th:src="${(car.name != null && !#strings.isEmpty(car.name))
      ? '/images/cars/' + car.name + car.model + '.jpeg' : '/images/cars/default.jpeg'}"></div>
<!--    <div th:text="${car.cost}" class="cost">$32/day</div>-->
    <div th:text="${ '$' + car.cost + '/day' }"class="cost">$32/day</div>

    <!--    TODO store car cost and display properly-->
    <div class="cart">
      <form th:action="@{|/assign/save/${userId}|}"  method='POST' th:object="${car}">
        <input type="hidden" th:value="${car.carId}" name="carId">
        <input type="submit" value="Book Now">
      </form>
    </div>
  </div>
</div>
</body>
</html>