<html xmlns:th="http://www.w3.org/1999/xhtml"
      xmlns:sec="https://www.thymeleaf.org/thymeleaf-extras-springsecurity5">
<head>
    <meta charset="utf-8">
    <title>Edit Customer</title>
    <link rel="stylesheet" type="text/css" media="all"
          href="../static/css/edit-customer.css" th:href="@{/css/edit-customer.css}"/>
</head>
<body>
<header th:replace="header :: myHeader"></header>
<div align="center">
    <h1>User Details</h1>
    <br />
    <!--
    The form below uses a structure similar to the new-customer page.  But this time,
    since the Customer object fields were populated before it was added to the model, their
    values populate the fields here. Any changes to the fields then POST to the update endpoint.
    -->
    <form action="#" th:action="@{'/update/' + ${user.userId}}" th:object="${user}"
          method="post">
        <table border="0" cellpadding="10">
            <tr>
                <td>User ID:</td>
                <td><input type="text" th:field="*{userId}" readonly/></td>
            </tr>
            <tr>
                <td>First Name:</td>
                <td><input type="text" th:field="*{customer.firstName}" required/></td>
            </tr>
            <tr>
                <td>Last Name:</td>
                <td><input type="text" th:field="*{customer.lastName}" required/></td>
            </tr>
            <tr>
                <td>Username:</td>
                <td><input type="text" th:field="*{username}" required/></td>
            </tr>
            <tr>
                <td>Email Address:</td>
                <td><input type="email" th:field="*{customer.emailAddress}" required/></td>
            </tr>
            <tr>
                <td>Age:</td>
                <td><input type="number" th:field="*{customer.age}" required/></td>
            </tr>
            <tr>
                <td>Address:</td>
                <td><textarea type="text" th:field="*{customer.address}" required></textarea></td>
            </tr>
            <tr>
                <td>City:</td>
                <td><textarea type="text" th:field="*{customer.city}" required></textarea></td>
            </tr>
            <tr>
                <td>Current Rental:</td>
                <td th:text="*{car?.name}+' : '+ *{car?.model}+' : '+ *{car?.year}+' : '+ *{car?.regNumber}" > No Car  </td>
            </tr>
            <tr>
                <td colspan="2"><button type="submit">Save</button></td>
            </tr>
        </table>
    </form>
</div>
</body>
</html>