<html lang="en" dir="ltr" xmlns:th="http://www.w3.org/1999/xhtml">

<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/css/bootstrap.min.css"> <meta name="description" content="Table for entering car data and calculating speed">
    <link rel="stylesheet" type="text/css" media="all"
          href="../static/css/edit-car.css" th:href="@{/css/edit-car.css}"/>
    <title>Edit Customer Details</title>
    <link rel="stylesheet" href="styles.css">
    <link href="https://fonts.googleapis.com/css?family=Titillium+Web" rel="stylesheet">
</head>
<body>
<div class="wrapper">
    <header>
        <h1>Edit User Details</h1>
    </header>
    <main>
        <div class="container-fluid px-5 px-md-3 px-sm-1 d-flex justify-content-around justify-content-md-center justify content-sm-center" >
            <div class="table-container mr-5 mr-md-3">
                <table class="table">
                    <thead>
                    <tr>
                        <th scope="col" >User ID </th>
                        <th scope="col" >Name </th>
                        <th scope="col" >Age</th>
                        <th scope="col" >Location</th>
                    </tr>
                    </thead>
                    <tbody >
                    <tr th:object="${user}">
                        <td th:text="${userId}"></td>
                        <td th:text="${user.customer.firstName}"></td>
                        <td th:text="${user.customer.age}"></td>
                        <td th:text="${user.customer.city}"></td>
                    </tr>
                    </tbody>
                </table>
            </div>
            <div class="form-container">
                <form action="#" th:action="@{'/update/' + ${user.userId}}" th:object="${user}"
                      method="post" >
                    <div class="form-group">
                        <p>User Id</p><input type="number" class="form-control" th:field="*{userId}" maxlength="20">
                    </div>
                    <div class="form-group">
                        <p>First Name</p><input  type="text" class="form-control" th:field="*{customer.firstName}" maxlength="10">
                    </div>
                    <div class="form-group">
                        <p>Last Name</p><input type="text" class="form-control" th:field="*{customer.lastName}" maxlength="10">
                    </div>
                    <div class="form-group">
                        <p>Username</p><input type="text" class="form-control" th:field="*{username}" maxlength="10">
                    </div>
                    <div class="form-group">
                        <p>Email Address</p><input type="text" class="form-control" th:field="*{customer.emailAddress}" maxlength="10">
                    </div>
                    <div class="form-group">
                        <p>Address</p><input type="text" class="form-control" th:field="*{customer.address}"maxlength="10">
                    </div>
                    <div class="form-group">
                        <p>City</p><input type="text" class="form-control" th:field="*{customer.city}" maxlength="10">
                    </div>
                    <div class="form-group">
                        <p>Age</p><input type="number" class="form-control" th:field="*{customer.age}" maxlength="10">
                    </div>
                    <div class="button-container d-flex p-2">
                        <button type="submit" class="btn mt-3 ">Save</button>
                        <button type="submit" class="cancel_btn mt-3">Cancel</button>
                    </div>
                </form>
            </div>
        </div>
    </main>
</div>
</body>
</html>