<html lang="en" dir="ltr" xmlns:th="http://www.w3.org/1999/xhtml">

<head>
  <meta charset="utf-8">
  <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
  <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/css/bootstrap.min.css"> <meta name="description" content="Table for entering car data and calculating speed">
  <link rel="stylesheet" type="text/css" media="all"
        href="../static/css/edit-car.css" th:href="@{/css/edit-car.css}"/>
  <title>Edit Car</title>
  <link rel="stylesheet" href="styles.css">
  <link href="https://fonts.googleapis.com/css?family=Titillium+Web" rel="stylesheet">
</head>
<body>
<div class="wrapper">
  <header>
    <h1>Edit Car Details</h1>
  </header>
  <main>
    <div class="container-fluid px-5 px-md-3 px-sm-1 d-flex justify-content-around justify-content-md-center justify content-sm-center" >
      <div class="table-container mr-5 mr-md-3">
        <table class="table">
          <thead>
          <tr>
            <th scope="col" >Name </th>
            <th scope="col" >Model </th>
            <th scope="col" >Year</th>
            <th scope="col" >Registration No.</th>
          </tr>
          </thead>
          <tbody >
          <tr th:object="${car}">
            <td th:text="${car.name}"></td>
            <td th:text="${car.model}"></td>
            <td th:text="${car.year}"></td>
            <td th:text="${car.regNumber}"></td>
          </tr>
          </tbody>
        </table>
      </div>
      <div class="form-container">
        <form action="#" th:action="@{'/car/update/' + ${car.carId}}" th:object="${car}" method="post" >
          <div class="form-group">
            <p>Car Id</p><input type="text" class="form-control" th:field="*{city}" maxlength="20">
          </div>
          <div class="form-group">
            <p>Transmission</p><input  type="text" class="form-control" th:field="*{transmission}" maxlength="10">
          </div>
          <div class="form-group">
            <p>Cost</p><input type="number" class="form-control" th:field="*{cost}" maxlength="10">
          </div>
          <div class="form-group">
            <p>Car ID</p><input type="number" class="form-control" th:field="*{carId}" maxlength="10">
          </div>
          <div class="form-group">
            <p>Model</p><input type="text" class="form-control" th:field="*{model}" maxlength="10">
          </div>
          <div class="form-group">
            <p>Year</p><input type="number" class="form-control" th:field="*{year}" maxlength="10">
          </div>
          <div class="form-group">
            <p>Name</p><input type="text" class="form-control" th:field="*{name}" maxlength="10">
          </div>
          <div class="form-group">
            <p>Registration No.</p><input type="text" class="form-control" th:field="*{regNumber}" maxlength="10">
          </div>
          <div class="button-container d-flex p-2">
            <button type="submit" class="btn mt-3">Save</button>
            <button type="submit" class="cancel_btn mt-3">Cancel</button>
          </div>
        </form>
      </div>
    </div>
  </main>
</div>
</body>
</html>