<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml" xmlns:th="http://www.thymeleaf.org">
<head>
    <link rel="stylesheet" type="text/css" media="all"
          href="../static/css/error.css" th:href="@{/css/error.css}"/>
</head>
<body>
<div class="container">

    <div class="error">
        <h3>Whoops!</h3>
        <p th:text="${msg}">Something went wrong, sorry about that.</p>
        <form action="" th:action>
        <button type="submit" name="action" th:formaction="@{/car/view}">Let's try again</button>
        </form>
    </div>
</div>
</body>
</html>