<html lang="en" dir="ltr" xmlns:th="http://www.w3.org/1999/xhtml">

<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/css/bootstrap.min.css"> <meta name="description" content="Table for entering car data and calculating speed">
    <link rel="stylesheet" type="text/css" media="all"
          href="../static/css/new-car.css" th:href="@{/css/new-car.css}"/>
    <title>Edit Car</title>
    <link rel="stylesheet" href="styles.css">
    <link href="https://fonts.googleapis.com/css?family=Titillium+Web" rel="stylesheet">
</head>
<body>
<div class="wrapper">
    <header>
        <h1>Add Car Details</h1>
    </header>
    <main>
            <div class="form-container">
                <form action="#" th:action="@{/car/save}" th:object="${car}" method="post" >
                    <div class="form-group">
                        <p>Car Name</p><input type="text" class="form-control" th:field="*{name}" maxlength="20">
                    </div>
                    <div class="form-group">
                        <p>Model</p><input  type="text" class="form-control" th:field="*{model}" maxlength="10">
                    </div>
                    <div class="form-group">
                        <p>Year</p><input type="number" class="form-control" th:field="*{year}" maxlength="10">
                    </div>
                    <div class="form-group">
                        <p>Registration No.</p><input type="text" class="form-control" th:field="*{regNumber}" maxlength="10">
                    </div>
                    <div class="form-group">
                        <p>City</p><input type="text" class="form-control" th:field="*{city}" maxlength="10">
                    </div>
                    <div class="form-group">
                        <p>Cost</p><input type="number" class="form-control" th:field="*{cost}" maxlength="10">
                    </div>
                    <div class="form-group" >
                        <p>Transmission</p>
                        <select class="custom-select">
                            <option th:each="transmission : ${T(mvc.project.customer.website.models.Car.Transmission).values()}"
                                    th:value="${transmission}"
                                    th:text="${transmission}">
                            </option>
                        </select>
                    </div>
                    <div class="button-container d-flex p-2">
                        <button type="submit" class="btn mt-3">Save</button>
                        <a th:href="@{/car}"><button  class="cancel_btn mt-3" type="button">Cancel</button></a>
                    </div>
                </form>
            </div>
        </div>
    </main>
</div>
</body>
</html>