<html xmlns:th="http://www.w3.org/1999/xhtml"
      xmlns:sec="https://www.thymeleaf.org/thymeleaf-extras-springsecurity5">

<head>
    <meta charset="utf-8">
    <title>Sign Up For Your Rental</title>
    <link rel="stylesheet" type="text/css" media="all"
          href="../static/css/user-list.css" th:href="@{/css/user-list.css}"/>
</head>
<html>
<body>
<header th:replace="header :: myHeader"></header>
<html>
<div align="center">
    <h1>Customer List</h1>
    <br/><br/>
    <a class="btn btn-primary" th:href="@{/add}">Add New Customer</a>
    <table class= "table" border="1" cellpadding="10">
        <thead>
        <tr>
            <!--
            You are creating a table here, where the header will be the Customer
            details and then the other rows will be filled by the data that
            you send back in the Model object.
            -->
            <th scope="col"> Customer ID</th>
            <th scope="col">Username</th>
            <th scope="col">Email Address</th>
            <th scope="col">Age</th>
            <th scope="col">Actions</th>
        </tr>
        </thead>
        <!--
         Now that your headers are defined, you can reference the key-value
         pair "customerList" that you added to the model above.
         Thymeleaf will loop over each customer and extract the attributes to match
         your column names.
        -->
        <tbody>
        <tr th:each="user : ${userList}">
            <td th:text="${user.userId}">User ID</td>
            <td th:text="${user.username}">UserName</td>
            <td th:text="${user.customer.emailAddress}">Email Address</td>
            <td th:text="${user.customer.age}">Age</td>
            <td>  <a th:href="@{'/edit/' + ${user.userId}}">Edit</a>
                  <a th:href="@{'/delete/' + ${user.userId}}">Delete</a>
            </td>
        </tr>
        </tbody>
    </table>
</div>
</html>